.task {
    padding: 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 10px;
    border-bottom: solid 2px #dcdcdc;
 }

.js-done {
    background-color: green;
    color: white;
    border: none;
    min-width: 25px;
    min-height: 25px;
    padding: 10px;
    cursor: pointer;
}

.js-remove {
    background-color: crimson;
    color: white;
    border: none;
    min-width: 25px;
    min-height: 25px;
    padding: 10px;
    cursor: pointer;
}

.task__content {
    display: flex;
    margin: 0;
    flex-grow: 1;
    text-align: left;
    font-size: 18px;
    vertical-align: middle;
}

.task--done .task__content {
    text-decoration: line-through;
}

.tasks {
    padding-inline-start: 0;
    display: block;
}